<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libre.registro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity android:name="com.libre.registro.ui.MarketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity android:name="com.libre.registro.ui.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:theme="@style/Theme.AppCompat"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.libre.registro.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
    </application>
</manifest>
