<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libre.escuadroncliente">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.libre.escuadroncliente.ui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"/>
        </provider>

        <service android:name="com.libre.escuadroncliente.ui.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.libre.escuadroncliente.ui.services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <intent-filter>
            <action android:name="com.libre.escuadroncliente.ui.Update"/>
            <category
                android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        <activity android:name="com.libre.escuadroncliente.ui.MarketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity
            android:name="com.libre.escuadroncliente.ui.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:theme="@style/Theme.AppCompat"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.libre.escuadroncliente.ui.Update"
            android:screenOrientation="portrait"
            android:parentActivityName="com.libre.escuadroncliente.ui.Splash"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity
            android:name="com.libre.escuadroncliente.ui.QuizActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="QuizActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.libre.escuadroncliente.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity android:name="com.libre.escuadroncliente.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
    </application>
</manifest>
